<title>MasterJS - Erro 404</title>

<style>
    #pagina {
        text-align: center;
        background-color: #0d6efd;
        position: relative;
        height: 99.1vh;
        width: 100vw;
    }
</style>

<div id="pagina" class="p-3 mb-2 bg-primary text-white">
    <img src="https://image.flaticon.com/icons/png/512/103/103085.png" alt="Erro 404">
    <h1>404 - A página não foi encontrada &#x1F61E;</h1>
</div>